<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sara7a | <%= title %></title>

  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Logo -->
      <a class="navbar-brand" href="/" title="Home">
        <img src="/img/favicon.png" width="54" alt="Logo">
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" href="/messages">
                <i class="fa-solid fa-inbox me-1"></i>
                Messages
              </a>
            </li>
            
            <li class="nav-item dropdown d-flex align-items-center">
              <a
                  class="nav-link dropdown-toggle d-flex align-items-center"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                <img
                  src= "<%= user.photo %>"
                  class="rounded-circle me-2 border"
                  width="36"
                  height="36"
                  alt="User"
                  style="object-fit: cover;"
                />
                <span class="fw-semibold"><%= user.name.split(' ')[0] %></span>
              </a>

              <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="userDropdown">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="/settings">
                    <i class="fas fa-cog me-2 text-muted"> Settings</i> 
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item text-danger d-flex align-items-center nav__el--logout" href="#">
                    <i class="fas fa-sign-out-alt me-2"> Logout</i> 
                  </a>
                </li>
              </ul>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
