# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Parcel build output & cache
.parcel-cache/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Optional: coverage reports
coverage/

# Optional: build folders if any
dist/
build/
