<%- include("./shared/header.ejs") %>

<div class="container d-flex flex-column justify-content-center align-items-center text-center">
  <div class="mb-4">
    <img src="/img/logo.png" alt="Sara7a Logo" style="width: 250px; height: auto;" />
  </div>

  <h4 class="mb-4 px-3">
    Sara7a allows you to receive constructive and honest feedback anonymously from your friends, co-workers, or anyone who knows you.
  </h4>

  <div class="buttons d-flex flex-column">
    <a href="/login" class="btn btn-default-outline my-2">
      <i class="fas fa-user"></i> Login
    </a>
    <a href="/register" class="btn btn-default-outline my-2">
      <i class="far fa-edit"></i> register
    </a>
  </div>
</div>

<%- include("./shared/footer.ejs") %>
